:root {
  --app-background-color: #ffffff;
  --app-title-color: #333333;
  --app-subtitle-color: #555555;
}

[theme='dark'] {
  --app-background-color: #222222;
  --app-title-color: #ffffff;
  --app-subtitle-color: #f1f1f1;
}

[theme='sepia'] {
  --app-background-color: #d0bc91;
  --app-title-color: #8a6c44;
  --app-subtitle-color: #5f4938;
}

[theme='black'] {
  --app-background-color: #000000;
  --app-title-color: #ffffff;
  --app-subtitle-color: #dddddd;
}

[theme='coffee'] {
  --app-background-color: #394545;
  --app-title-color: #aab1b3;
  --app-subtitle-color: #e9e5e3;
}

[theme='rose'] {
  --app-background-color: #2e1a1e;
  --app-title-color: #bcb8ce;
  --app-subtitle-color: #d5ddef;
}

.container {
  @include make-container();
  max-width: 960px;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.ff-header {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: var(--app-title-color) !important;

  &:hover {
    color: var(--app-subtitle-color) !important;
  }
}

.app-background {
  background-color: var(--app-background-color);
  -webkit-transition: background 0.2s 0s ease-in;
  -moz-transition: background 0.2s 0s ease-in;
  -o-transition: background 0.2s 0s ease-in;
  transition: background 0.2s 0s ease-in;
}

.app-title {
  color: var(--app-title-color);
}

.app-subtitle {
  color: var(--app-subtitle-color);
}

.change-theme-box {
  cursor: pointer;
  color: var(--app-subtitle-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  ::selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@for $i from 1 through 500 {
  .fs-#{$i} {
    font-size: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .pt-#{$i} {
    padding-top: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .pb-#{$i} {
    padding-bottom: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .pl-#{$i} {
    padding-left: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .pr-#{$i} {
    padding-right: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .mt-#{$i} {
    margin-top: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .mb-#{$i} {
    margin-bottom: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .ml-#{$i} {
    margin-left: $i + px !important;
  }
}

@for $i from 1 through 500 {
  .mr-#{$i} {
    margin-right: $i + px !important;
  }
}

.cp {
  cursor: pointer !important;
}

.link {
  &:hover {
    text-decoration: none;
  }
}

.theme-icon {
  width: 25px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $i from 1 through $grid-columns {
      @media print {
        .col-print#{$infix}-#{$i} {
          @include make-col($i, $grid-columns);
        }
      }
    }
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.5 !important;
  font-weight: normal;
  font-size: 20px;
}

.clos-btn {
  position: absolute;
  top: 20px;
  right: 15px;
}

.app-nav {
  position: relative;
  border-bottom: 1px solid var(--app-title-color);
}

.body-container-divider {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

.app-nav-link {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .5em;
      margin: 0 .5em;
    }
  }
}

.fill-height {
  height: 100vh;
}

.footer {
  display: flex;
  position: relative;
  float: right;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--app-title-color);
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list {
  min-height: 100vh;
  height: 100%;
}

.about {
  min-height: 100vh;
  height: 100%;
}

.my-photo {
  width: 100%;
  height: 350px;
  min-height: 100%;
  filter: grayscale(30%);
}

.blog-more-btn {
  margin-top: 10px;
  display: inline-flex;
  flex: 1;
  padding: 10px;
  color: var(--app-title-color);
  border: 1px solid var(--app-title-color);
  border-radius: 5px;
  background-color: var(--app-background-color);
  justify-content: center;
  align-items: center;
  font-size: 13px;

  &:hover {
    text-decoration: none;
    color: var(--app-background-color) !important;
    background-color: var(--app-title-color);
    border: 1px solid var(--app-background-color);
    -webkit-transition: background 0.2s 0s ease-in;
    -moz-transition: background 0.2s 0s ease-in;
    -o-transition: background 0.2s 0s ease-in;
    transition: background 0.2s 0s ease-in;
  }
}

.project-list {
  li {
    border-bottom: 1px dashed var(--app-title-color);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }
}

.search {
  box-shadow: none;
  text-indent: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--app-subtitle-color);
  background-color: var(--app-background-color);
  color: var(--app-title-color);
  font-size: 13px;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  &__container {
    margin-top: 5px;
    border: 1px solid var(--app-subtitle-color);
    padding: 16px;
    font-size: 13px;
    border-radius: 5px;

    li {
      border-bottom: 1px dashed var(--app-subtitle-color);
      padding-bottom: 13px;

      &:last-child {
        border: none;
      }
    }
  }
}

.divider {
  border: 0;
  border-top: 1px solid var(--app-title-color);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.prev-next {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.back-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.author-img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.app-nav-link-right {
  color: var(--app-background-color);

  .nuxt-link-active {
    border-radius: 5px;
    background-color: var(--app-title-color) !important;
    color: var(--app-background-color) !important;
  }

  li {
    a {
      &:hover {
        border-radius: 5px;
        background-color: var(--app-title-color) !important;
        color: var(--app-background-color) !important;
      }
    }
  }
}
